{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <h3>Welcome back!</h3>
      </div> <!-- /demo-headline -->
    </div>
      <div class="row-fluid">
        <div class="span3">
          &nbsp;
        </div>
        <div class="span9">
              <div class="demo-browser-author"></div>

              <h5>@someguy</h5>
              <h6>
                Soldier. Writer. NYC
                <a href="#link" target="_blank">website</a>
              </h6>
            </div>
            <div class="demo-browser-content">
              <img src="/static/images/demo/browser-pic-1.jpg" alt="" />
              <img src="/static/images/demo/browser-pic-2.jpg" alt="" />
              <img src="/static/images/demo/browser-pic-3.jpg" alt="" />
              <img src="/static/images/demo/browser-pic-4.jpg" alt="" />
              <img src="/static/images/demo/browser-pic-5.jpg" alt="" />
              <img src="/static/images/demo/browser-pic-6.jpg" alt="" />
            </div>

      </div> <!-- /download area -->

      <div class="row">
        <div class="span3">
          <h3 class="demo-panel-title">Share</h3>
          <div class="share mrl">
            <ul>
              <li>
                <label class="share-label" for="share-toggle2">Facebook</label>
                <input type="checkbox" data-toggle="switch" />
              </li>
              <li>
                <label class="share-label" for="share-toggle4">Twitter</label>
                <input type="checkbox" checked="" data-toggle="switch" />
              </li>
              <li>
                <label class="share-label" for="share-toggle6">Pinterest</label>
                <input type="checkbox" data-toggle="switch" />
              </li>
            </ul>
            <a href="#" class="btn btn-primary btn-block btn-large">Share</a>
          </div> <!-- /share -->
        </div>
      </div>
{% endblock %}


