{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <div class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Post something
          <small>what do you want to give?</small>
        </h1>
      </div> <!-- /demo-headline -->
      </div>
    </div>

    <div class="login-form">
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name" />
          <label class="login-field-icon fui-user" for="login-name"></label>
        </div>

        <div class="control-group">
          <input type="password" class="login-field" value="" placeholder="Password" id="login-pass" />
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <a class="btn btn-primary btn-large btn-block" href="#">Login</a>
        <a class="login-link" href="#">Lost your password?</a>
      </div>

    <div class="row-fluid">
      <div class="span12">
          <p>&nbsp;</p>
      </div>
    </div>

    <div class="add-hero-form">
        <h3>Add a hero</h3>
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="First name" id="first-name" />
        </div>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Last Name" id="last-name" />
        </div>
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Image URL" id="face" />
          <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="hometown" id="hometown" />
        </div>

        <select name="branch" value="Branch of Service" class="select-block span3">
            <option value="0">Choose branch</option>
            <option value="1">Army</option>
            <option value="2">Air Force</option>
            <option value="3">Marines</option>
            <option value="4">Coast Guard</option>
          </select>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Rank" id="rank" />
        </div>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Rank" id="rank" />
        </div>

        <a class="btn btn-primary btn-large btn-block" href="#">Post</a>
      </div>

    <div class="post-form">
        <h3>Post comthing</h3>
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="First name" id="first-name" />
        </div>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Last Name" id="last-name" />
        </div>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="hometown" id="hometown" />
        </div>

        <select name="branch" value="Branch of Service" class="select-block span3">
            <option value="0">Choose branch</option>
            <option value="1">Army</option>
            <option value="2">Air Force</option>
            <option value="3">Marines</option>
            <option value="4">Coast Guard</option>
          </select>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Rank" id="rank" />
        </div>

        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="Rank" id="rank" />
        </div>

        <a class="btn btn-primary btn-large btn-block" href="#">Post</a>
      </div>

{% endblock %}


