<div class="post-form">
  <h3>Post something</h3>
  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="Instagram Link" id="instagram" />
  </div>

  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="Text Message" id="text" />
  </div>

  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="Something else" id="something" />
  </div>
  <a class="btn btn-primary btn-large btn-block" href="#">Post</a>
</div>
