<div class="add-hero-form">
  <h3>Add a hero</h3>
  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="Homecoming Date" id="month" />
    <input type="text" class="span6" value="" placeholder="First name" id="first-name" />

    <input type="text" class="span6" value="" placeholder="Last Name" id="last-name" />
  </div>
  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="Image URL i.e., http://something.com/1.jpg" id="face" />
  </div>

  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="hometown (city, state)" id="hometown" />
  </div>

  <div class="control-group">
  <select name="branch" value="Branch of Service" class="select-block span6">
      <option value="0">Choose branch</option>
      <option value="1">Army</option>
      <option value="2">Air Force</option>
      <option value="3">Coast Guard</option>
      <option value="4">Marines</option>
    </select>


    <input type="text" class="span6" value="" placeholder="Rank" id="rank" />
  </div>

  <div class="control-group">
    <textarea rows="5" placeholder="Story" id="rank" class="span6"></textarea>
  </div>
  <a class="btn btn-primary btn-large btn-block" href="/heroes/1">Add person</a>
</div>
