
<div class="post-form">
  <h3>Post something</h3>
  <a class="btn btn-inverse btn-small" href="https://api.instagram.com/oauth/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Foauth_callback&response_type=code&client_id=c692be924c234456ad1f6081e28cbea4" target="_blank">+ Pull from Instagram</a>
  <div class="control-group">
    <!--input type="text" class="span6" value="" placeholder="Instagram Link" id="instagram" /-->
  </div>



  <div class="control-group">
    <input type="text" class="span6" value="" placeholder="Text Message" id="text" />
  </div>
  </div>
  <a class="btn btn-primary btn-large btn-block" href="/heroes/all">Post Gift</a>
