<div class="row-fluid demo-row">
  <div class="span12">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
          <div class="nav-collapse collapse" id="nav-collapse-01">
            <ul class="nav">
              <li>
                <a href="/">
                  Home
                  <span class="navbar-unread">1</span>
                </a>
              </li>
              <li>
                <a href="/">
                  Log In
                  <span class="navbar-unread">1</span>
                </a>
              </li>
              <li>
                <a href="/supporters">
                  Thank a hero (supporter login)
                  <span class="navbar-unread">1</span>
                </a>
                <ul>
                  <li><a href="/heroes">Add Hero</a></li>
                  <li><a href="/supporters/message">Thank a hero</a></li>
                  <li>
                    <a href="/info">More Info</a>
                    <ul>
                      <li><a href="">FAQ</a></li>
                      <li><a href="#">Stats</a></li>
                    </ul> <!-- /Sub menu -->
                  </li>
                </ul> <!-- /Sub menu -->
              </li>
              <!--li>
                <a href="/heroes">
                  I'm a hero (veteran login)
                </a>
                <ul>
                  <li><a href="/heroes/open">Open Your Gift collection</a></li>
                  <li>
                    <a href="/heroes/1">Find a job</a>
                  </li>
                </ul> <!-- /Sub menu --
              </li-->
            </ul>
          </div><!--/.nav -->
        </div>
      </div>
    </div>
  </div>
</div>
